.btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    transition: ease .6s;
}

.btn:hover{ box-shadow: -6px -6px 9px rgba(0, 0, 0, 0.4); }

.btn:nth-child(1),
.btn:nth-child(2),
.btn:nth-child(3),
.btn:nth-child(4),
.btn:nth-child(8),
.btn:nth-child(12),
.btn:nth-child(16),
.btn:nth-child(19)
{
    color: #ff0000;
}