.App {
  width: 400px;
  justify-content: center;
}

.wrp-result,
.wrp-btns {
  display: block;
  margin-top: 30px;
  padding: 15px ;
}

.wrp-result{
  text-align: right;
  font-size: 20px;
  border-radius: 70px;
  border: 1px solid #ddd;
  padding-right: 25px;
}